/* colors */
:root {
  --dark-blue: #004056;
  --light-blue: #1adae8;
  --med-orange: #cf6437;
  --light-orange: #fcaf02;
  --dull-red: #d42d45;
  --red: red;

}
/* global layout */
body {
/* elements in one column */
display: flex;
flex-direction: column;
/* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
align-items: center;
}

/* "popups" filling the whole screen */
.popup-div {
  width: 80vw;
  height: 90vh;
  position: absolute;
  margin-top: 0.5%;
  top: 0;
  display: flex;
  flex-direction: column;
  /* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
  align-items: center;
  /* elements vertically centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
  justify-content: center;
  font-size: 120%;
  border-radius: 20px;
  padding: 2rem;
}

/* the Welcome screen displaying the gameplay rules and scrore counting */
#welcome-div {
  background-color: rgba(43, 11, 9, 0.9);
  color: white;
}

/* the `div` within `#welcome-div` displaying the gameplay instructions */
#gameplay-rules-div {
  display: flex;
}

/* the `div` within `#welcome-div` displaying the scoring rules, hidden by default */
#score-rules-div {
  display: none;
}

/* unified formatting of the contentful `divs` within  `#welcome-div` */
#welcome-div > div {
  overflow: scroll;
  flex-direction: column;
  /* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
  align-items: center;
  /* elements vertically centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
  justify-content: center;
  height: 100%;
}

/* unified formatting of the paragraphs in the contentful `divs` within  `#welcome-div` */
#welcome-div > div > p {
  margin: 0.5rem 0;
}

/* unified formatting of lists in the contentful `divs` within  `#welcome-div` */
#welcome-div > div > ul {
  margin: 0.5rem 0;
}

/* the list of operators in the `#gameplay-rules-div` */
#gameplay-rules-div > ul {
  list-style: none;
}

/* unified formatting of the small buttons in the contentful `divs` within  `#welcome-div` */
#welcome-div > div > button {
  margin-top: auto;  
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: 100%;
}

/* unified formatting of links in the contentful `divs` within  `#welcome-div` */
#welcome-div a {
  color: white;
}

/* unified formatting for the big buttons on "popups" (`#start-game-button`, `#continue-game-button` */
.popup-big-button {
  margin-top: auto;  
  font-size: 200%;
  width: 15rem;
  height: 5rem;
  border-radius: 20px;
}

/* the big button on the Welcome screen */
#start-game-button {
  background-color: orange;
}

/* the "popup" screen celebrating selected milestones */
#milestone-div {
  display: none;
  /* background-color: rgba(215, 107, 6, 0.9); */
  background: url("../images/balloons.jpg") no-repeat center;
  color: white;
}

#milestone-div h1 {
  background-color: orange;
  text-align: center;  
  padding: 1rem;
  border-radius: 5px;
  font-size: 250%;
}

/* the big button on the milestone popup */
#continue-game-button {
  background-color: red;
}

/* the game area containing the game title, question area, new game button, streak counter and operand selector drop-down */
#game-area {
  /* elements in one column */
  display: flex;
  flex-direction: column;
  /* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
  align-items: center;
  border: solid 2px red;
  border-radius: 20px;
  padding: 2rem;
  }

/* question area */
/* question area items should be in a row (where they fit) */
#question-area {
  /* children should be in a row */
  display: flex;
  /* elements horizontally spread out */
  min-width: 250px;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid 2px orange;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* highlighing the user's wrong guess */
.hilight {
  color:red;
  font-size: 110%;
}

/* the operator selector drop-down menus */
.operator-selector {
  padding: 0.2rem;
  margin-block-end: 0;
}

/* the div to display the result (correct or not) */
#solution {
  min-height: 5rem;
  text-align: center;
}

/* the button for checking the user guess */
#submit-button {
  border-radius: 5px;
  border-color: red;
  background-color: orange;
  font-size: 120%;
}

/* the button for starting a new game */
#new-game-button {
  border-radius: 5px;
  border-color: orange;
  background-color: red;
  color:white;
  margin-top: 2rem;
  font-size: 200%;
}

/* the div containing the perfect streak text and count */
#streak-div {
  display: flex;
  margin-top: 1rem;
}

/* the number showing the user's perfect streak count */
#streak {
  margin-left: 2px;
}

/* the `div` containing the operator selector drop-down and its label */
#number-selector-div {
  display: flex;
  margin-top: 1rem;
}

/* the drop-down for selecting the number of operands */
#number-selector {
 margin-left: 2px;
}


