/* global layout */
body {
/* elements in one column */
display: flex;
flex-direction: column;
/* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
align-items: center;
}

#game-area {
/* elements in one column */
display: flex;
flex-direction: column;
/* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
align-items: center;
border: solid 2px red;
border-radius: 20px;
padding: 2rem;
}

/* question area items should be in a row (where they fit) */
#question-area {
  /* children should be in a row */
  display: flex;
  /* elements horizontally spread out */
  min-width: 250px;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid 2px orange;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* the operator selector drop-down menus */
.operator-selector {
  padding: 1 rem;
  margin-block-end: 0;
}

/* the div to display the result (correct or not) */
#solution {
  min-height: 5rem;
  text-align: center;
}

/* the button for checking the user guess */
#submit-button {
  border-radius: 5px;
  border-color: red;
  background-color: orange;
  font-size: 120%;
}

/* the button for starting a new game */
#new-game-button {
  border-radius: 5px;
  border-color: orange;
  background-color: red;
  color:white;
  margin-top: 2rem;
  font-size: 200%;
}

/* the div containing the perfect streak text and count */
#streak-div {
  display: flex;
  margin-top: 1rem;
}

/* the number showing the user's perfect streak count */
#streak {
  margin-left: 2px;
}

/* the `div` containing the operator selector dropdown and its label */
#number-selector-div {
  display: flex;
  margin-top: 1rem;
}

/* the dropdown for selecting the number of operands */
#number-selector {
 margin-left: 2px;
}


