/* global layout */
body {
/* elements in one column */
display: flex;
flex-direction: column;
/* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
align-items: center;
}

#game-area {
/* elements in one column */
display: flex;
flex-direction: column;
/* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
align-items: center;
border: solid 2px red;
border-radius: 20px;
padding: 2rem;
}

/* question area items should be in a row (where they fit) */
#question-area {
  /* children should be in a row */
  display: flex;
  /* elements horizontally spread out */
  min-width: 200px;
  justify-content: space-between;
  border: solid 2px orange;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;
}

/* the operand selector drop-down menus */
.operand-selector {
  padding: 1 rem;
  margin-block-end: 0;
}

#submit-button {
  border-radius: 5px;
  border-color: red;
  background-color: orange;
}
