/* colors */
:root {
  --dark-blue: #004056;
  --med-blue: #2E7E8E;
  --light-blue: #1ADAE8;
  --peach: #FCBFAB;
  --med-orange: #DC3A04;
  --light-orange: #FCAF02;
  --red: #EB0000;
  --white: #FFFFFF;

}
/* global layout */
body {
  /* elements in one column */
  display: flex;
  flex-direction: column;
  /* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: var(--dark-blue);
}

/* headings */
.heading {
  font-family: 'Madimi One', sans-serif;
  font-size: 250%;
}

/* buttons */
button {
  font-family: 'Madimi One', sans-serif;
}

/* links in text (404 page) */
a {
  color: var(--red);
}

/* "popups" filling the whole screen */
.popup {
  /* cover the other elements */
  width: 90%;
  height: 90%;
  position: absolute;
  margin-top: 0.5%;
  top: 0;
  display: flex;
  flex-direction: column;
  /* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
  align-items: center;
  /* elements vertically spaced evenly (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
  justify-content: space-evenly;
  border-radius: 20px;
  padding: 2rem;
}

/* the Welcome screen displaying the gameplay rules and scrore counting */
#welcome-section {
  background-color: var(--dark-blue);
  color: var(--white);
}

/* the section within `#welcome-section` displaying the gameplay instructions */
#gameplay-rules-section {
  display: flex;
}

/* operators in text  */
.operator {
  font-family: 'Bungee Spice', sans-serif;
  font-size: 120%;
}

/* the section within `#welcome-section` displaying the scoring rules, hidden by default */
#score-rules-section {
  display: none;
}

/* unified formatting of the sections within `#welcome-section` */
#welcome-section > section {
  overflow: scroll;
  flex-direction: column;
  /* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
  align-items: center;
  /* elements vertically centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
  justify-content: center;
  height: auto;
}

/* unified formatting of the paragraphs in the sections within  `#welcome-section` */
#welcome-section > section > p {
  margin: 0.5rem 0;
}

/* unified formatting of lists in the sections within `#welcome-section` */
#welcome-section > section > ul {
  margin: 0.5rem 0;
  list-style: none;
}

/* unified formatting of the small buttons in the sections within  `#welcome-section` */
#welcome-section > section > button {
  margin-bottom: 1rem;
  border-radius: 8px;
  font-size: 100%;
}

/* unified formatting of links in the sections within  `#welcome-section` */
#welcome-section a {
  color: var(--white);
}

/* unified formatting for the big buttons */
.big-button {
  font-size: 200%;
  width: 15rem;
  height: 5rem;
  border-radius: 20px;
}

/* the big button on the Welcome screen */
#start-game-button {
  background-color: var(--light-orange);
}

/* the "popup" screen celebrating selected milestones */
#milestone-section {
  display: none;
  background: url("../images/balloons.webp") no-repeat center center/cover;
  color: var(--white);
}

/* the text on the milestone "popup" */
#milestone-text {
  background-color: var(--light-orange);
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: -10px -10px 8px var(--white);
  font-size: 250%;
}

/* the button on the milestone "popup" */
#continue-game-button {
  box-shadow: 5px 5px 2px var(--white);
}


/* the game area containing the game title, question area, new game button, streak counter and operand selector drop-down */
#game-area {
  /* elements in one column */
  display: flex;
  flex-direction: column;
  /* elements horizontally centered (watch out: for `flex-direction: column;`, horizontal and vertical alignment commands are swapped ) */
  align-items: center;
  border: solid 8px var(--red);
  border-radius: 20px;
  padding: 2rem;
}

/* question area */
/* question area items should be in a row (where they fit) */
#question-area {
  /* children should be in a row while they fit */
  display: flex;
  /* elements horizontally spread out */
  justify-content: space-evenly;
  flex-wrap: wrap;
  border: solid 4px var(--light-orange);
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

/* highlighing the user's wrong guess */
.hilight {
  color: var(--red);
  font-weight: bold;
  font-size: 110%;
}

/* all children of the question-area */
#question-area > * {
  margin: 0.3rem;
}

/* the operator selector drop-down menus */
.operator-selector {
  padding: 0.2rem;
  margin-block-end: 0;
  font-family: 'Bungee Spice', sans-serif;
}

/* the div to display the user's guess (correct or not) */
#solution {
  min-height: 5rem;
  text-align: center;
}

/* the button for checking the user guess */
#submit-button {
  border-radius: 5px;
  border-color: var(--red);
  background-color: var(--light-orange);
  font-size: 150%;
}

/* the button for starting a new game */
#new-game-button {
  border-radius: 20px;
  border-color: var(--light-orange);
  background-color: var(--red);
  color: var(--white);
  margin-top: 2rem;
  font-size: 250%;
}

/* the div containing the perfect streak text and count */
#streak-div {
  display: flex;
  margin-top: 1rem;
  font-size: large;
  padding: 0.2rem;
}

/* the number showing the user's perfect streak count */
#streak-counter {
  margin-left: 2px;
}

/* the `div` containing the operator selector drop-down and its label */
#number-selector-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

/* the drop-down for selecting the number of operands */
#number-selector {
  margin-left: 2px;
}

/* Media Queries */

/*  narrow screens */
@media screen and (max-width: 380px) {

  /* "popups" filling the whole screen */
  .popup {
    width: 80%;
    height: 95%;
  }

  /* the section within `#welcome-section` displaying the scoring rules, hidden by default */
  #score-rules-section {
    padding-top: 10rem;
  }
}

/* very narrow screens */
@media screen and (max-width: 290px) and (max-height: 705px) {

  /* "popups" filling the whole screen */
  .popup {
    width: 80%;
    height: 110%;
  }


  /* the section within `#welcome-section` displaying the scoring rules, hidden by default */
  #score-rules-section {
    padding-top: 11rem;
  }
}
